asgiref==3.7.2
black
Django==3.2.16
django-filter==23.1
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
djoser
flake8
mypy
pillow
pre-commit
psycopg2-binary==2.9.3
PyJWT==2.1.0
pytz==2023.3
reportlab
sqlparse==0.4.4
typing_extensions==4.7.1
